<html ng-app="thothEyes">
<head>
<title></title>
<link rel="stylesheet" href="css/home.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">


</head>
<body ng-controller="DashboardCtrl">
<ul class="navigation">
	<div class = "contact-icon" >
		<span style="font-size:33; margin-right: 10px;" class="glyphicon glyphicon-user "></span>   Contact detail
	</div>
	<li class="nav-item">
	<a href="file:///C:/Users/admin/Desktop/Thoth.html">
		<span class="glyphicon glyphicon-home icon-margin"></span> Home
	</a>
	</li>
	<li class="nav-item">
	<a href="file:///C:/Users/admin/Desktop/nodes.html">
		<span class="glyphicon glyphicon-tasks icon-margin"></span> Control panel
	</a>
	</li>
	<li class="nav-item" data-toggle="modal" data-target="#searchModal">
	<a href="#">
		<span class="glyphicon glyphicon-search icon-margin"></span> 
		Search
	</a>
	</li>
	<li class="nav-item"  data-toggle="modal" data-target="#logoutModal">    		
	<a href="#">
		<span class="glyphicon glyphicon-log-out icon-margin"></span> 
		Log out
	</a>
	</li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
<div class="site-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail upperblock notification-block">
					<div class="text-center upperblock-headfont">
						<span class="glyphicon glyphicon-globe"></span>
						Notification
						<span class="glyphicon glyphicon-refresh pull-right"></span>
						<hr/>
					</div>
					<div class="upperblock-bodyfont">
						<button class="btn btn-primary" onclick="startRecording(this);">Record</button>
						<button class="btn btn-warning" onclick="stopRecording(this);" disabled>Stop</button>
						<li> 
						<span class="glyphicon glyphicon-list-alt"></span>
						Notification massege
						</li>
					</div>
				</div>
				<div class="thumbnail upperblock notification-block">
					<div class="text-center upperblock-headfont">
						<span class="glyphicon glyphicon-globe"></span>
						Notification
						<span class="glyphicon glyphicon-refresh pull-right"></span>
						<hr/>
					</div>
					<div class="upperblock-bodyfont">
						<button class="btn btn-primary" onclick="startRecording(this);">Record</button>
						<button class="btn btn-warning" onclick="stopRecording(this);" disabled>Stop</button>
						<li> 
						<span class="glyphicon glyphicon-list-alt"></span>
						Notification massege
						</li>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail upperblock">
					<div class="text-center upperblock-headfont">
						<span class="glyphicon glyphicon-stats"></span>
						Status chart
						<span class="glyphicon glyphicon-refresh pull-right"></span>
						<hr/>
					</div>
					<!-- <div id="Chart">	
						    <svg style="margin-left: 40px; margin-top: -10px; height:290px;width:80%"></svg>
						</div> -->
					<nvd3 options="computeOptions" data="computeData"></nvd3>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail upperblock">
					<div class="text-center upperblock-headfont">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						Error Application
						<span class="glyphicon glyphicon-refresh pull-right"></span>
						<hr/>
					</div>
					<div class="upperblock-bodyfont error-wrapper">
						<div ng-repeat="errorApp in errorApps" class="thumbnail text-center errorapp">
							<div class="row">
								NAME {{errorApp.name}}<br/><br/>
							</div>
							<div class="row">
								replicas : {{errorApp.replicas}} <br/><br/>
							</div>
							<div class="row">
								container port 
								<span ng-repeat="con in errorApp.containers">
									{{con.ports[0].containerPort}}
								</span>
							</div>
							<div class="row">
								<div class="col-md-4">
									<button class="btn btn-default">
										<span class="glyphicon glyphicon-pause"></span>
									</button>
								</div>
								<div class="col-md-4">
									<button class="btn btn-default">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
								<div class="col-md-4">
									<button class="btn btn-default">
										<span class="glyphicon glyphicon-minus"></span>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="thumbnail lowerblock">
						<div class="text-center lowerblock-headfont">
							<span class="glyphicon glyphicon-align-left"></span>
							Top CPU usage
							<span class="glyphicon glyphicon-refresh pull-right"></span>
							<hr/>
						</div>
						<div class="upperblock-bodyfont">
							<li ng-repeat="cpu in max_cpu" class="list-max"> 
								<span class="glyphicon glyphicon-tasks"></span>
								{{cpu.name}}
							</li>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="thumbnail lowerblock">
						<div class="text-center lowerblock-headfont">
							<span class="glyphicon glyphicon-dashboard"></span>
							Top memory usage
							<span class="glyphicon glyphicon-refresh pull-right"></span>
							<hr/>
						</div>
						<div class="upperblock-bodyfont">
							<li ng-repeat="mem in max_mem" class="list-max"> 
								<span class="glyphicon glyphicon-tasks"></span>
								{{mem.name}}
							</li>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail lowerblock">
						<div class="text-center lowerblock-headfont">
							<span class="glyphicon glyphicon-equalizer"></span>
							Top response time
							<span class="glyphicon glyphicon-refresh pull-right"></span>
							<hr/>
						</div>
						<div class="upperblock-bodyfont">
							<li ng-repeat="res in max_res" class="list-max"> 
								<span class="glyphicon glyphicon-tasks"></span>
								{{res.name}}
							</li>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="thumbnail lowerblock">
						<div class="text-center lowerblock-headfont">
							<span class="glyphicon glyphicon-signal"></span>
							Top req/sec
							<span class="glyphicon glyphicon-refresh pull-right"></span>
							<hr/>
						</div>
						<div class="upperblock-bodyfont">
							<li ng-repeat="req in max_req" class="list-max"> 
								<span class="glyphicon glyphicon-tasks"></span>
								{{req.name}}
							</li>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>

	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Log out</h4>
				</div>
				<div class="modal-body">
					Are you sure to log out ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
					<button type="button" class="btn btn-primary">Log out</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Search</h4>
				</div>
				<div class="modal-body">
					<li class="nav-item">
					<a href="#">
						<i class="icon-microphone icon-margin"></i> Voice search
					</a>
					</li>
					<li class="nav-item">
					<a href="#">
						<i class="icon-search icon-margin"></i> Search
					</a>
					</li>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="js/lib/recorder.js"></script>
	<script src="js/recordLive.js"></script>
	<script src="js/thothEyes.js"></script>

	</body>
	</html>
