
	.botton {
	    background-color: #e2e2e2;
	    height: 35px;
	    width: 35px;
	    padding-top: 9px;
	    font-size: 16px;
	    margin-right: 5px;
	    margin-left: 5px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}
	.errorapp{
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.lowerblock{
		height: 270px;
	}
	.lowerblock-headfont{
		font-size: 15px;
		margin-top: 15px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.upperblock{
		margin-top: 15px;
		height: 340px;
	}
	.upperblock-headfont{
		font-size: 16px;
		margin-top: 15px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.upperblock-bodyfont{
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		list-style-type: none;
	}

	/*modal*/


	.modal-item {
	  /* non-critical appearance styles */
	  width: 95%;
	  height: 40px;
	  border-top: 1px solid white;
	  border-bottom: 1px solid white;
	  list-style-type: none;
	}

	.modal-item a {
	  /* non-critical appearance styles */
	  display: block;
	  padding: 5px;
	  background: white;
	  color: black;
	  font-size: 1em;
	  text-decoration: none;
	  /*transition: color 0.2s, background 0.5s;*/
	}

	.modal-item a:hover {
	  color: #34495e;
	  background-color: #ecf0f1;
	}
	
	/* Navigation Menu - Background */
	.navigation {
	  /* critical sizing and position styles */
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 0;
	  
	  /* non-critical appearance styles */
	  list-style: none;
	  background: white;
	}

	/* Navigation Menu - List items */
	.nav-item {
	  /* non-critical appearance styles */
	  width: 200px;
	  border-top: 1px solid white;
	  border-bottom: 1px solid white;
	}

	.nav-item a {
	  /* non-critical appearance styles */
	  display: block;
	  padding: 1em;
	  background: white;
	  color: black;
	  font-size: 1em;
	  text-decoration: none;
	  transition: color 0.2s, background 0.5s;
	}

	.nav-item a:hover {
	  color: #34495e;
	  background-color: #ecf0f1;
	}

	/* Site Wrapper - Everything that isn't navigation */
	.site-wrap {
	  /* Critical position and size styles */
	  min-height: 100%;
	  min-width: 100%;
	  background-color: white; /* Needs a background or else the nav will show through */
	  position: relative;
	  top: 0;
	  bottom: 100%;
	  left: 0;
	  z-index: 1;
	  
	  /* non-critical apperance styles */
	  padding: 0px;
	  background-color: #f0ece5;
	  background-size: 100%;
	}

	/* Nav Trigger */
	.nav-trigger {
	  /* critical styles - hide the checkbox input */
	  position: absolute;
	  clip: rect(0, 0, 0, 0);
	}

	label[for="nav-trigger"] {
	  /* critical positioning styles */
	  position: fixed;
	  left: 15px; top: 15px;
	  z-index: 2;
	  
	  /* non-critical apperance styles */
	  height: 14px;
	  width: 24px;
	  cursor: pointer;
	  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	  background-size: contain;
	}

	/* Make the Magic Happen */
	.nav-trigger + label, .site-wrap {
	  transition: left 0.2s;
	}

	.nav-trigger:checked + label {
	  left: 215px;
	}

	.nav-trigger:checked ~ .site-wrap {
	  left: 200px;
	 box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	}

	body {
	    /* Without this, the body has excess horizontal scroll when the menu is open */
	  overflow-x: hidden;
	}

	/* Additional non-critical styles */

	h1, h3, p {
	  max-width: 600px;
	  margin: 0 auto 1em;
	}
	a {
		color: black;
	}

	code {
	    padding: 2px;
	    background: #ddd;
	}

	/* Micro reset */
	*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
	html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
	.contact-icon{
		padding-left: 30px;
		padding-top: 60px;
		background-color:#f0ece5;
		height: 120px;
	}
	.icon-margin{
		margin-right: 10px;
		font-size: 1.2em;
	}
	.nvtooltip { 
		position: fixed;
		margin-top: 10px;
		margin-right: 50px;
	}